{% extends "main/layout.html" %}
{% load static %}

{% block body %}
<h1  class="page-header">{{title}}</h1>

<!--<br><br>-->
<div class="row">
    <div class="col-md-12" style="border-right:1px solid #ccc">
        {% include 'main/orders/products.html' with order=order %}
        {% include 'main/orders/transport.html' with order=order %}
        {% include 'main/orders/pay.html' with payments=payments total_paid=total_paid %}
        <br>


        {% if show_form %}
        <div class="panel panel-info">
            <div class="panel-heading">{{form_title}}</div>
            <div class="panel-body">
                {% include 'hook/form.html' with form=form %}
            </div>
        </div>
        {% else %}
        {% if next_action %}
        <div class="pull-right">
            <form action="." method="post">
                {% csrf_token %}
                <button class="btn btn-primary" type="submit" value="1" name="{{next_action}}">{{next_action_text}}
                </button>
            </form>
        </div>
        <br>
        {% endif %}
        {% endif %}
        <br>
        <br>
        {% include 'main/orders/history.html' with order=order %}
    </div>
</div>
{% endblock %}
{% block extra_scripts %}
<script src="{% static 'main/js/car.js' %}"></script>
{% endblock %}