{% extends "main/layout.html" %}
{% load static %}

{% block body %}

<h1 class="page-header">Pedidos</h1>
<div class="row">
    <div class="col-md-6 col-md-offset-6 text-right">
        <form action="." class="form-inline">
            <select name="state" onchange="submit()" class="form-control">
                <option value="-1">Todos los estados</option>
                {% for s in states %}
                <option value="{{s.0}}" {% ifequal state s.0 %} selected {% endifequal %}>Estado {{s.1}}
                </option>
                {% endfor %}
            </select>
            <select name="provider" onchange="submit()" class="form-control">
                <option value="0">Todos los proveedores</option>
                {% for p in providers %}
                <option value="{{p.pk}}" {% ifequal provider_pk p.pk %} selected {% endifequal %}>
                    Proveedor {{p.get_full_name}}
                </option>
                {% endfor %}
            </select>
        </form>
    </div>
</div>

<br>
<table class="table">
    <thead>
    <tr>
        <th>#</th>
        <th>Proveedor</th>
        <th>Fecha</th>
        <th>Total</th>
        <th>Estado</th>
        <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    {% for p in orders %}
    <tr class="{{p.row_class}}">
        <th scope="row">{{ forloop.counter }}</th>
        <td>{{p.provider.get_full_name }}</td>
        <td>{{p.created_at }}</td>
        <td>{{p.total}}</td>
        <td>{{p.get_state_display }}</td>
        <td><a href="{% url 'order_edit' p.id %}">Ver</a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
