{% if payments %}
<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Pago</div>

    <table class="table">
        <thead>
        <tr>
            <th>Fecha</th>
            <th>Monto</th>
            <th>Observación</th>
            <th>Numero de Operacion</th>
            <th>Imagen de recibo</th>
        </tr>
        </thead>
        <tbody>
        {% for p in payments %}
        <tr>
            <td>{{p.paid_at}}</td>
            <td>{{p.amount}}</td>
            <td>{{p.observation}}</td>
            <td>{{p.voucher_code}}</td>
            <td><a href="{{p.voucher_image.url}}">ver</a></td>
        </tr>
        {% endfor %}
        <tr class="active">
            <td><b>Total Pagado</b></td>
            <td>
                <b>{{total_paid}}</b>
            </td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        </tbody>
    </table>
</div>
{% endif %}