{% if form.errors %}
<div class="alert alert-danger alert-dismissible" role="alert">
    <ul>
        {% for field in form %}
        {% if field.errors %}
        {% for error in field.errors %}
        <li>{{ field.label }}, {{ error|escape }} <a href="#id_{{ field.name }}"
                                                     class="error">ir</a></li>
        {% endfor %}
        {% endif %}
        {% endfor %}

    </ul>
</div>
{% endif %}

<form action="." method="post" class="form-horizontal">

    {% csrf_token %}
    {% for f in form %}
    <div class="form-group {% if f.errors %}has-error{% endif %}">
        <label for="id_{{f.name}}" class="col-sm-2 control-label">{{ f.label }}</label>
        <div class="col-sm-10">
            {{ f }}
            {% for error in f.errors %}
            <p class="help-block">{{ error }}</p>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
    <div class="pull-right">
        {% if comeback_to %}
        <a href="{% url comeback_to %}" class="btn btn-default">Cancelar</a>
        {% endif %}
        <input type="submit" class="btn btn-primary" class="pull-right" value="{{save_text|default:'Save'}}" name="{{next_action|default:'_save'}}">
    </div>
</form>