{% extends "main/layout.html" %}
{% load static %}

{% block body %}
<h1 class="page-header">Tienda</h1>
<div class="row">
    <div class="col-md-6 col-md-offset-6 text-right">
        <form action="." class="form-inline">
            <select id="providerSelected" onchange="window.location='/car/?provider='+$('#providerSelected').val()"
                    class="form-control">
                <option value="0">Todos los proveedores</option>
                {% for p in providers %}
                <option value="{{p.pk}}" {% ifequal provider_pk p.pk %} selected {% endifequal %}>
                    Proveedor {{p.get_full_name}}
                </option>
                {% endfor %}
            </select>
        </form>
    </div>
</div>

<br>
<div class="row">
    <div class="col-md-9">
        <table class="table products">
            <thead>
            <tr>
                <th>#</th>
                <th>Habilitado</th>
                <th>Imagen</th>
                <th>Nombre</th>
                <th>Talla</th>
                <th>Colores</th>
                <th>Precio</th>
                <th>Proveedor</th>
                <th>Acciones</th>
            </tr>
            </thead>
            <tbody>
            {% for p in products %}
            <tr product-pk="{{p.pk}}">
                <th scope="row">{{ forloop.counter }}</th>
                {% if p.is_active %}
                <td>Si</td>
                {% else %}
                <td>No</td>
                {% endif %}
                <td>
                    {% if p.image %}
                    <button type="button" class="btn btn-primary fire-modal" data-toggle="modal"
                            data-target=".bs-example-modal-lg" data-image="{{p.image.url}}" data-title="{{p.name}}">Ver
                    </button>
                    {% endif %}

                </td>
                <td class="product_name">{{p.name}}</td>
                <td>{{p.size}}</td>
                <td>{{p.get_colors|default:"--"}}</td>
                <td>{{p.price}}</td>
                <td>{{p.provider.get_full_name}}</td>
                <td>
                    <button type="button" class="btn btn-link add_car">agregar+</button>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-md-3" style="border:1px dashed #ccc; margin-top:35px;">
        <div style="">
            <h4>Agregados al carrito</h4>
            <ul id="in_car">
                {% for p in products_in_car %}
                <li product-pk="{{p.product.pk}}">{{p.product.name}}</li>
                {% endfor %}
            </ul>
            <a href="{% url 'car_update_order' %}" class="btn btn-primary pull-right">continuar</a>
        </div>
    </div>
</div>

<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Modal title</h4>
            </div>
            <div class="modal-body">
                <img class="img-rounded image-preview">
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block extra_scripts %}
<script src="{% static 'main/js/car.js' %}"></script>
{% endblock %}