{% extends "main/layout.html" %}
{% load static %}
{% load main_extras %}

{% block body %}
<h1>{{title}}</h1>
<br><br>
{% for  x in products_in_car_by_provider %}
<h4>Proveedor: {{x.provider}}</h4>
<table class="table products">
    <thead>
    <tr>
        <th>#</th>
        <th>Imagen</th>
        <th>Nombre</th>
        <th>Talla</th>
        <th>Colores</th>
        <th>Precio</th>
        <th>Cantidad</th>
        <th>Total</th>
        <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    {% for p in x.products_in_car %}
    <tr product-pk="{{p.product.pk}}" product-price="{{p.product.price}}" class="item">
        <th scope="row">{{counter.increment}} {{ counter.count }}</th>
        <td>{{p.product.image}}</td>
        <td class="product_name">{{p.product.name}}</td>
        <td>{{p.product.size}}</td>
        <td>{{p.product.get_colors|default:"--"}}</td>
        <td>{{p.product.price}}</td>
        <td>
            <input type="number" class="form-control update-quantity" tabindex="{{ counter.count }}"
                   style="width:80px" value="{{p.quantity}}">
        </td>
        <td class="product-total">
            {{p.product.price|multiply:p.quantity}}
        </td>
        <td>
            <button class="btn btn-danger remove_product">Quitar</button>
        </td>
    </tr>
    {% endfor %}

    <tr class="active summary">
        <td colspan="5"></td>
        <td >Total</td>
        <td class="quantity"></td>
        <td class="total"></td>
    </tr>
    </tbody>
</table>
{% endfor %}
<a href="{% url 'car' %}">Volver a la tienda</a>
<button id="generateServiceOrder" class="btn btn-primary" onclick="window.location='{% url 'car_create_orders' %}'">
    Crear Ordenes de Servicio
</button>
{% endblock %}


{% block extra_scripts %}
<script src="{% static 'main/js/car.js' %}"></script>
{% endblock %}