{% extends "main/layout.html" %}
{% load static %}

{% block body %}
<h1>{{title}}</h1>

<div class="row">
    <div class="col-md-12" style="border-right:1px solid #ccc">

        {% include 'main/orders/products.html' with order=order %}

        {% if order.state == 6 %}
            <div class="panel panel-info">
                <div class="panel-heading">Estado</div>
                <div class="panel-body">
                    <form action=".">
                        Pedido Rechazado
                    </form>
                </div>
            </div>
        {% endif %}
        {% if order.state == 0 %}
            <div class="panel panel-info">
                <div class="panel-heading">{{form_title}}</div>
                <div class="panel-body">
                    <form action="." method="post">
                        {% csrf_token %}
                        <button type="submit" name="acept_reject" value="6" class="btn btn-danger">Rechazar Pedido</button>
                        <button type="submit" name="acept_reject" value="5" class="btn btn-primary">Aceptar Pedido</button>
                    </form>
                </div>
            </div>
        {% endif %}

        {% if order.sent_at %}
            {% include 'main/orders/transport.html' with order=order %}
        {% else %}
            {% if order.state == 5 %}
                <div class="panel panel-info">
                    <div class="panel-heading">{{form_title}}</div>
                    <div class="panel-body">
                        {% include 'hook/form.html' with form=form %}
                    </div>
                </div>
            {% endif %}
        {% endif %}


        {% include 'main/orders/pay.html' with payments=payments total_paid=total_paid %}

        {% include 'main/orders/history.html' with order=order %}
    </div>
</div>
{% endblock %}
{% block extra_scripts %}
<script src="{% static 'main/js/car.js' %}"></script>
{% endblock %}