{% extends "main/layout.html" %}
{% load static %}

{% block body %}
<h1>{{title}}</h1>

<div class="row">
    <div class="col-md-12" style="border-right:1px solid #ccc">

        {% include 'main/orders/products.html' with order=order %}

        {% if order.sent_at %}
            {% include 'main/orders/transport.html' with order=order %}
        {% else %}
            <div class="panel panel-info">
                <div class="panel-heading">{{form_title}}</div>
                <div class="panel-body">
                    {% include 'hook/form.html' with form=form %}
                </div>
            </div>
        {% endif %}

        {% include 'main/orders/pay.html' with order=order %}

        {% include 'main/orders/history.html' with order=order %}
    </div>
</div>
{% endblock %}
{% block extra_scripts %}
<script src="{% static 'main/js/car.js' %}"></script>
{% endblock %}