{% extends "website/layout.html" %}
{% load static %}

{% block body %}
<h1>{{title}}</h1>
{% if not is_admin %}
    <a href="{% url 'new_product' %}">
        <button type="button" class="btn btn-primary">Agregar producto</button>
    </a>

{% else %}
    <select value="8">
        <option value="0">Todos</option>
        {% for p in providers %}
            <option value="{{p.pk}}" {% if provider_pk == p.pk %} selected="selected" {% endif %}>{{p.first_name}} {{p.last_name}}</option>
        {% endfor %}
    </select>
{% endif %}

<br><br>
<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Habilitado</th>
            <th>Imagen</th>
            <th>Nombre</th>
            <th>Talla</th>
            <th>Colores</th>
            <th>Precio</th>
            <th>Acciones<br> del Carrito</th>
        </tr>
    </thead>
        <tbody>
            {% for p in products %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    {% if p.is_active %}
                        <td>Si</td>
                    {% else %}
                        <td>No</td>
                    {% endif %}
                    <td>{{p.image}}</td>
                    <td>{{p.name}}</td>
                    <td>{{p.size}}</td>
                    <td>{{p.get_colors|default:"--"}}</td>
                    <td>{{p.price}}</td>
                    {% if not is_admin %}
                        <td><a href="{% url 'edit_product' p.pk %}">editar</a></td>
                    {% else %}
                        <td><a href="#">agregar+</a>
                    {% endif %}
                    
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
